# Assignment 1:
### - The automated_stat_analyzer Function
- Scenario: A retail company needs a utility to quickly summarize sales data. Students must create a function that identifies the 
"Central Tendency" and "Dispersion" of any numerical column.
- ### Requirements:

* Accept a Pandas DataFrame and a column name.

* Calculate the Mean, Median, and Standard Deviation .

* Identify if the data is "Skewed" by comparing the Mean and Median.


* Bonus: If the column is categorical, return the Mode instead.

### Your Data

In [1]:
import pandas as pd
import numpy as np

# Create a synthetic Company Sales Dataset
data = {
    'Transaction_ID': range(1, 11),
    'Product_Category': ['Electronics', 'Home', 'Electronics', 'Sports', 'Home', 
                         'Electronics', 'Home', 'Sports', 'Electronics', 'Electronics'],
    'Sales_Amount': [150, 200, 155, 300, 210, 180, 205, 1000, 190, 160], # 1000 is an Outlier
    'Customer_Age': [25, 34, np.nan, 45, 23, 31, 29, np.nan, 38, 40],    # Contains Nulls (NaN)
    'Rating': [5, 4, 3, 5, 2, 4, 5, 2, 4, 3]
}

df_test = pd.DataFrame(data)

# Save to CSV for students to practice loading files [cite: 74]
df_test.to_csv('company_sales_test.csv', index=False)
print("Test dataset created successfully!")

Test dataset created successfully!

In [2]:
df_test.head()

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
2               3      Electronics           155           NaN       3
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2

In [ ]:

def automated_stat_analyzer(df, column_name):
    """
    Company Task: Provide a summary report of a specific data variable.
    """
    result = {}

    column = df[column_name]

    if pd.api.types.is_numeric_dtype(column):

        mean_val = column.mean()
        median_val = column.median()
        std_val = column.std()

        if mean_val > median_val:
            skewness = "Right Skewed"
        elif mean_val < median_val:
            skewness = "Left Skewed"
        else:
            skewness = "Symmetric"

        result = {
            "Mean": mean_val,
            "Median": median_val,
            "Standard Deviation": std_val,
            "Skewness": skewness
        }

    else:
        mode_val = column.mode()[0]

        result = {
            "Mode": mode_val
        }

    return result

In [4]:
print(automated_stat_analyzer(df_test, "Sales_Amount"))

{'Mean': np.float64(275.0), 'Median': np.float64(195.0), 'Standard Deviation': np.float64(258.30645021412494), 'Skewness': 'Right Skewed'}

In [5]:
print(automated_stat_analyzer(df_test, "Product_Category"))

{'Mode': 'Electronics'}

## Assignment 2: 
  ### The null_handling_strategy Function

#### Scenario: Incoming user data often has missing values.Students must implement a flexible strategy to handle these "Null Values" to prepare data for Machine Learning.
### Requirements:

* Check for null values in the DataFrame.

* Apply a strategy based on parameters: "drop_rows", "fill_mean", or "fill_median" .

* Ensure the function only fills numerical columns when using mean or median.

In [ ]:
import pandas as pd
import numpy as np

def null_handling_strategy(df, strategy="fill_mean"):
    """
    Company Task: Clean a dataset by resolving missing (NaN) values.
    """
    cleaned_df = df.copy()

    if not cleaned_df.isnull().values.any():
        return cleaned_df

    if strategy == "drop_rows":
        cleaned_df = cleaned_df.dropna()

    elif strategy == "fill_mean":
        numeric_cols = cleaned_df.select_dtypes(include=[np.number])
        cleaned_df[numeric_cols.columns] = numeric_cols.fillna(numeric_cols.mean())

    elif strategy == "fill_median":
        numeric_cols = cleaned_df.select_dtypes(include=[np.number])
        cleaned_df[numeric_cols.columns] = numeric_cols.fillna(numeric_cols.median())

    else:
        raise ValueError("Invalid strategy! Use: drop_rows, fill_mean, or fill_median")

    return cleaned_df

In [7]:
print(df_test["Customer_Age"])

0    25.0
1    34.0
2     NaN
3    45.0
4    23.0
5    31.0
6    29.0
7     NaN
8    38.0
9    40.0
Name: Customer_Age, dtype: float64

In [8]:
cleaned_mean = null_handling_strategy(df_test, "fill_mean")
print(cleaned_mean["Customer_Age"])

0    25.000
1    34.000
2    33.125
3    45.000
4    23.000
5    31.000
6    29.000
7    33.125
8    38.000
9    40.000
Name: Customer_Age, dtype: float64

In [9]:
cleaned_median = null_handling_strategy(df_test, "fill_median")
print(cleaned_median["Customer_Age"])

0    25.0
1    34.0
2    32.5
3    45.0
4    23.0
5    31.0
6    29.0
7    32.5
8    38.0
9    40.0
Name: Customer_Age, dtype: float64

In [10]:
cleaned_drop = null_handling_strategy(df_test, "drop_rows")
print(cleaned_drop)

   Transaction_ID Product_Category  Sales_Amount  Customer_Age  Rating
0               1      Electronics           150          25.0       5
1               2             Home           200          34.0       4
3               4           Sports           300          45.0       5
4               5             Home           210          23.0       2
5               6      Electronics           180          31.0       4
6               7             Home           205          29.0       5
8               9      Electronics           190          38.0       4
9              10      Electronics           160          40.0       3